@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== GLOBAL ===== */

body {
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
}

/* ===== SCROLL ===== */

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}